#lol
	.block-wrapper
		.block-left
		.block-right
		.block-content
			%img{'src' => "images/one.jpg", 'class' => 'pic-1 pic', 'id' => 'active' }
			%img{'src' => "images/two.png", 'class' => 'pic-2 pic' }
			%img{'src' => "images/three.jpg", 'class' => 'pic-3 pic' }
			%img{'src' => "images/four.jpg", 'class' => 'pic-4 pic' }
%br
#another-block
	#left
		%input{'type' => "button", 'value' => "Left"}
	#right
		%input{'type' => "button", "value" => "right"}			