- @postsList.each do |p|
	.item
		.itemheader
			= link_to p.title, post_path(p)
			%span.post-date
				= p.created_at.strftime("%Y-%m-%d %H:%M")
		.itemcontent
			= p.textbody
			
= will_paginate @postsList